.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next  {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 150px;
        li {
            list-style-type: none;
            display: block;
       }
    }

    .slick-active button {
        height: 20px;
        border-radius: 100%;
    }

 .slick-dots li button {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    color: black;
    font-size: 0;
  }
 }